<div class="container my-5">
    <div class="row" *ngIf="service">
        <div class="col-md-6 mx-auto">
          <div class="card mb-5">
            <div class="card-body" *ngIf="client && service">
              <form>
                <fieldset disabled>
                  <h3>Datos del cliente</h3>
                  <div class="form-group">
                    <label for="disabledTextInput">Nombre</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{client.name}}">
                  </div>
                  <div class="form-group">
                    <label for="disabledTextInput">Email</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{client.email}}">
                  </div>
                  <div class="form-group">
                    <label for="disabledTextInput">DNI</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{client.dniClient}}">
                  </div>
                  <div class="form-group">
                    <label for="disabledTextInput">Telefono</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{client.telephone}}">
                  </div>

                  <h3>Datos del Pedido</h3>
                  <div class="form-group">
                    <label for="disabledTextInput">Tipo de Servicio</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{service.type}}">
                  </div>
                  <div class="form-group">
                    <label for="disabledTextInput">Descripcion</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{service.description}}">
                  </div>
                  <div class="form-group">
                    <label for="disabledTextInput">Precio</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="S/. {{service.price}}">
                  </div>
                  
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                      <label class="form-check-label" for="disabledFieldsetCheck">
                        Can't check this
                      </label>
                    </div>
                  </div>
                </fieldset>

                <div class="container">
                  <div class="row">
                    <div class="col-6 text-center">
                      <button type="submit" class="btn btn-danger" (click)="regresar()">Regresar</button>
                    </div>
                    <div class="col-6 text-center">
                      <button type="submit" class="btn btn-primary" (click)="confirmarPedido()">Confirmar pedido</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>  
        </div>
    </div>
</div>